* {
    box-sizing: border-box;

}

.container {
    background-color: red;
    padding: 30px;
}

.contents {
    color: white;
}

.contents::after {
    content: "저는 PC 입니다";
}

/* PC 기본 설정 */
@media screen and (max-width: 767px) { /* 띄어쓰기 체크 할 것 */

    /* moblie */
    .container {
        background: blue;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {/*  띄어쓰기 체크 할 것 */

    /* tablet */
    .container {
        background: green;
    }
}